//Now we will see how to create responsive images in CSS using media queries => we wrote media queries so far based on screen width but now we will write
//them based on screen resolution =>
.header {
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  //here also in firefox the clip path does not work and hence we ahvea added feature support query below to check and only then clip will happen and height
  //needed for clip is set => changing design to look good without clip as well
  //similarly we have added more support queries wherever needded
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }

  //so like bwlo wee can give the media queries for min resolution => also @media a and b, c => this means a and b OR c
  // we have converted all media queries to em => px/16px
  //if you test the header on old version of firefox or on safari, it wont have colors as expected and this is because min-resolution: 192dpi below dont work
  //in them => we can use different prop called -webkit-min-device-pixel-ratio: 2 in its place to do it => again this is support thing only

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/hero.jpg);
  }

  //we have made the clip line of header little less slanted as was wierd on mobile
  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
