// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  //so we are giving row heights for diff sections => cases where it's height should decrease on screen size shorten, we are using vh and in some cases wew
  //are saying give height required to fill the min content that is important to show
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  //now like bootstrap has 12 cols, we usually style things by setting this number => lets say we will need 8 cols => now this 8 cols are for the main content
  //we are calling it center start and center end => now there is sidebar other than main content on left and in the remaining space the content is centered
  //we will first make sidebar of 80 px = 8 rem. Now to center the 8 cols, we will add 2 cols on left and right of these 8 cols which will have same fr so
  //that main content is in center always => adding minmax 60px, 1fr =>Now sidebar should always be there and thus it is fixed width col => the 2 cols used
  //to center the content can be either used in some sections where content is present in these also or they will add blank space to center main content and
  //each main content col is either min content of row or 140px (1120/8) because we are designing for 1200 px => 1120px for 8 cols and 80 px for sidebar

  //now we will go to each section css file and add their content cols width => for some like gallery it is full fledged meaning 8 cols and left right cols to it
  //are also used and some sections like features takes only main content in the center part for content and we will set that as working area for them
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(6rem, 1fr) [full-end];
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}
