//since this about section is only present on home page and not any other page, it is not component
//the margin top is negative here because => header component was 95vh height and 75 vh was polygon clip => 20 vh in right clipped => we can move this thing
//by 20vh up negative => there will be no gap between about and header
.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

//simply added a feature section => Now for the feature section to have that clip type of thing we did for header, we can do clip thing or there is nice trick
//to do that same => to the whole section of features, we add   transform: skewY(-7deg); => this will roitate whole section by 8 deg => but the content which
//is feature boxes will also be tilted but we want them straight => we use a new selector => see below => & * would have meant all children or grandchildren
//or so on of section-feartures but & > * means all direct children of section-fearures which as we can see in html is the row containing feature boxes =>
//we tilt that by 8 deg in opp direction and the whole content is straigtened and we get the same clip thing we did earlier.
.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}
//next we have popular tours section which will need 3 cols => have added section below and we will add cards components inside these 3 cols
.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
