body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
  }
}

//this heading secondary is for the about section text => since text, inside typegraphy => in this text color will itself has some gradient from light green to dark
//to do this => we added bg gradient of thhis green and webkit background clip text makes bg only where text is => now color of text is made transparent so
//we see bg gradient at text places. Added skew/rotate transition for hover.
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

//So inside about section after heading, there is another h3 level heading and then paragraph => we call this heading tertiary and text under that paragraph
//spacing between these tertiary headings given by not last child selector

//inside html of paragrah we have used &arr which is used for arrow in button which is special html symbol and we can know more of these from here: https://codingheroes.io/resources/
// => https://css-tricks.com/snippets/html/glyphs/  =>

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
