*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  //so there was a white padding in the layout => though it would have scaled donw for mobile screens but since space is less on mobile tabs, we dont want
  //any white space padding and hence 3 rem normally and html media queries will apply but in tab port and lesser devices, padding is 0
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0;
  }
}
//now read the css part 4 from mac notes
//Now we will do some petty wrap up => below we are telling that on text selection, change the bg color of selection
::selection {
  background-color: $color-primary;
  color: $color-white;
}
